openapi: 3.1.0
x-stoplight:
  id: qm0ig4v0q276y
info:
  title: Reasoning
  version: '1.0'
  description: ''
servers:
  - url: 'https://api.mcg.com/v1/fhir'
paths:
  /v1/guidance/24/fhir:
    post:
      summary: ''
      operationId: post-v1-guidance-24-fhir
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ../card/models/response-body.v1.yaml
              examples:
                example-1:
                  value:
                    appInfo:
                      remedyBuild: postmanTest
                      reasoningBuild: '191160'
                      contentEdition: '24'
                      codifiedRelease: 1.1.7
                    evaluationTime: 1655419108509
                    clinicalInput:
                      encounters:
                        - ID: '66317'
                          DateTime: '2022-06-16T22:38:27.425Z'
                          CSN: ''
                      encounterCodes:
                        86070_0_encounter-diagnosis:
                          Code: I50.9
                          CodeSystem: 'http://hl7.org/fhir/sid/icd-10-cm'
                          Name: 'Heart failure, unspecified'
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sEncounterDiagnosesMap
                          codingKey: 'I50.9http://hl7.org/fhir/sid/icd-10-cm'
                          clinicalInputKey: 86070_0_encounter-diagnosis
                          clinicalInputId: '86070'
                          resourceType: Condition
                        86072_0_encounter-diagnosis:
                          Code: '59139008'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Crushing chest pain
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sEncounterDiagnosesMap
                          codingKey: '59139008http://snomed.info/sct'
                          clinicalInputKey: 86072_0_encounter-diagnosis
                          clinicalInputId: '86072'
                          resourceType: Condition
                        86071_0_encounter-diagnosis:
                          Code: '72654001'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Supraventricular arrhythmia (disorder)
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sEncounterDiagnosesMap
                          codingKey: '72654001http://snomed.info/sct'
                          clinicalInputKey: 86071_0_encounter-diagnosis
                          clinicalInputId: '86071'
                          resourceType: Condition
                        86071_1_encounter-diagnosis:
                          Code: J18.9
                          CodeSystem: 'http://hl7.org/fhir/sid/icd-10-cm'
                          Name: Pneumonia
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sEncounterDiagnosesMap
                          codingKey: 'J18.9http://hl7.org/fhir/sid/icd-10-cm'
                          clinicalInputKey: 86071_1_encounter-diagnosis
                          clinicalInputId: '86071'
                          resourceType: Condition
                        86071_2_encounter-diagnosis:
                          Code: I47.1
                          CodeSystem: 'http://hl7.org/fhir/sid/icd-10-cm'
                          Name: Supraventricular tachycardia
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sEncounterDiagnosesMap
                          codingKey: 'I47.1http://hl7.org/fhir/sid/icd-10-cm'
                          clinicalInputKey: 86071_2_encounter-diagnosis
                          clinicalInputId: '86071'
                          resourceType: Condition
                      problemCodes:
                        62880_0_Condition:
                          Code: '61233003'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Silo-fillers' disease (disorder)
                          highlightMatch: true
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: '61233003http://snomed.info/sct'
                          clinicalInputKey: 62880_0_Condition
                          clinicalInputId: '62880'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths:
                            - D40F5C2F1BA84A8A-B0AA3B4343E9B005
                        46720_0_Condition:
                          Code: '13645005'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Chronic obstructive lung disease
                          highlightMatch: false
                          DateTime: '2014-07-02'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: '13645005http://snomed.info/sct'
                          clinicalInputKey: 46720_0_Condition
                          clinicalInputId: '46720'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                        46721_0_Condition:
                          Code: '59621000'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Essential hypertension
                          highlightMatch: false
                          DateTime: '2014-07-02'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: '59621000http://snomed.info/sct'
                          clinicalInputKey: 46721_0_Condition
                          clinicalInputId: '46721'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                        46722_0_Condition:
                          Code: I50.20
                          CodeSystem: 'http://hl7.org/fhir/sid/icd-10'
                          Name: Essential hypertension
                          highlightMatch: false
                          DateTime: '2019-03-18'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: 'I50.20http://hl7.org/fhir/sid/icd-10'
                          clinicalInputKey: 46722_0_Condition
                          clinicalInputId: '46722'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                        100046_0_Condition:
                          Code: '2472002'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Anuria (finding)
                          highlightMatch: false
                          DateTime: '2022-06-16T22:36:47.425Z'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: '2472002http://snomed.info/sct'
                          clinicalInputKey: 100046_0_Condition
                          clinicalInputId: '100046'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths: []
                        86070_0_encounter-diagnosis:
                          Code: I50.9
                          CodeSystem: 'http://hl7.org/fhir/sid/icd-10-cm'
                          Name: 'Heart failure, unspecified'
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: 'I50.9http://hl7.org/fhir/sid/icd-10-cm'
                          clinicalInputKey: 86070_0_encounter-diagnosis
                          clinicalInputId: '86070'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                        86072_0_encounter-diagnosis:
                          Code: '59139008'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Crushing chest pain
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: '59139008http://snomed.info/sct'
                          clinicalInputKey: 86072_0_encounter-diagnosis
                          clinicalInputId: '86072'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths: []
                        86071_0_encounter-diagnosis:
                          Code: '72654001'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Supraventricular arrhythmia (disorder)
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: '72654001http://snomed.info/sct'
                          clinicalInputKey: 86071_0_encounter-diagnosis
                          clinicalInputId: '86071'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths: []
                        86071_1_encounter-diagnosis:
                          Code: J18.9
                          CodeSystem: 'http://hl7.org/fhir/sid/icd-10-cm'
                          Name: Pneumonia
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: 'J18.9http://hl7.org/fhir/sid/icd-10-cm'
                          clinicalInputKey: 86071_1_encounter-diagnosis
                          clinicalInputId: '86071'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                        86071_2_encounter-diagnosis:
                          Code: I47.1
                          CodeSystem: 'http://hl7.org/fhir/sid/icd-10-cm'
                          Name: Supraventricular tachycardia
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sConditionsActiveMap
                          codingKey: 'I47.1http://hl7.org/fhir/sid/icd-10-cm'
                          clinicalInputKey: 86071_2_encounter-diagnosis
                          clinicalInputId: '86071'
                          resourceType: Condition
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths: []
                      procedureCodes:
                        62881_0_Procedure:
                          Code: '11140008'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: 'Respiratory assist, manual (procedure)'
                          highlightMatch: true
                          DateTime: '2022-06-16T22:38:27.425Z'
                          sourceMapKey: sProceduresMap
                          codingKey: '11140008http://snomed.info/sct'
                          clinicalInputKey: 62881_0_Procedure
                          clinicalInputId: '62881'
                          resourceType: Procedure
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths:
                            - D40F5C2F1BA84A8A-B0AA3B4343E9B005
                        46723_0_Procedure:
                          Code: '168731009'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Chest X-Ray
                          highlightMatch: false
                          sourceMapKey: sProceduresMap
                          codingKey: '168731009http://snomed.info/sct'
                          clinicalInputKey: 46723_0_Procedure
                          clinicalInputId: '46723'
                          resourceType: Procedure
                          unitOfMeasureConversion:
                            result: skipped
                        46724_0_Procedure:
                          Code: '440461005'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Skin ulcer care (regime/therapy)
                          highlightMatch: false
                          DateTime: '2018-11-30'
                          sourceMapKey: sProceduresMap
                          codingKey: '440461005http://snomed.info/sct'
                          clinicalInputKey: 46724_0_Procedure
                          clinicalInputId: '46724'
                          resourceType: Procedure
                          unitOfMeasureConversion:
                            result: skipped
                      serviceRequestCodes:
                        physical-therapy_0_serviceRequests:
                          Code: '710830005'
                          CodeSystem: 'http://snomed.info/sct'
                          Name: Assessment of passive range of motion
                          highlightMatch: false
                          DateTime: '2016-09-20'
                          sourceMapKey: sServiceRequestsMap
                          codingKey: '710830005http://snomed.info/sct'
                          clinicalInputKey: physical-therapy_0_serviceRequests
                          clinicalInputId: physical-therapy
                          resourceType: ServiceRequest
                      labdata:
                        46756_0_labResults:
                          Code: Unknown code
                          CodeSystem: 'http://loinc.org'
                          Name: Creatinine in Serum or Plasma
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          Value: 2.9
                          Units: mg/dL
                          Status: final
                          DisplayValue: 2.9
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sLabDataMap
                          codingKey: 'Unknown codehttp://loinc.org'
                          clinicalInputKey: 46756_0_labResults
                          clinicalInputId: '46756'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                        46756_1_labResults:
                          Code: 2160-0
                          CodeSystem: 'http://loinc.org'
                          Name: Creatinine in Serum or Plasma
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          Value: 2.9
                          Units: mg/dL
                          Status: final
                          DisplayValue: 2.9
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sLabDataMap
                          codingKey: '2160-0http://loinc.org'
                          clinicalInputKey: 46756_1_labResults
                          clinicalInputId: '46756'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths: []
                        46756_2_labResults:
                          Code: 38483-4
                          CodeSystem: 'http://loinc.org'
                          Name: Creatinine in Serum or Plasma
                          highlightMatch: false
                          DateTime: '2022-06-16T22:38:27.425Z'
                          Value: 2.9
                          Units: mg/dL
                          Status: final
                          DisplayValue: 2.9
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sLabDataMap
                          codingKey: '38483-4http://loinc.org'
                          clinicalInputKey: 46756_2_labResults
                          clinicalInputId: '46756'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                        86412_0_labResults:
                          Code: 2823-3
                          CodeSystem: 'http://loinc.org'
                          Name: 'Potassium [Moles/​volume] in Serum or Plasma'
                          highlightMatch: false
                          DateTime: '2022-06-16T22:36:47.425Z'
                          Value: 5.5
                          Units: mmol/L
                          Status: final
                          DisplayValue: 5.5
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sLabDataMap
                          codingKey: '2823-3http://loinc.org'
                          clinicalInputKey: 86412_0_labResults
                          clinicalInputId: '86412'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths: []
                        46757_0_labResults:
                          Code: 2160-0
                          CodeSystem: 'http://loinc.org'
                          Name: 'Creatinine [Mass/​volume] in Serum or Plasma'
                          highlightMatch: false
                          DateTime: '2022-05-17T22:38:27.425Z'
                          Value: 0.7
                          Units: mg/dL
                          Status: final
                          DisplayValue: 0.7
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sLabDataMap
                          codingKey: '2160-0http://loinc.org'
                          clinicalInputKey: 46757_0_labResults
                          clinicalInputId: '46757'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths: []
                        46758_0_labResults:
                          Code: 33765-9
                          CodeSystem: 'http://loinc.org'
                          Name: WBC
                          highlightMatch: false
                          DateTime: '2019-01-25T19:10:00.000Z'
                          Value: 12.3
                          Units: 10*3/uL
                          Status: final
                          DisplayValue: 12.3
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sLabDataMap
                          codingKey: '33765-9http://loinc.org'
                          clinicalInputKey: 46758_0_labResults
                          clinicalInputId: '46758'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                        46759_0_labResults:
                          Code: 26515-7
                          CodeSystem: 'http://loinc.org'
                          Name: PLT
                          highlightMatch: false
                          DateTime: '2019-01-25T19:10:00.000Z'
                          Value: 123
                          Units: 10*3/uL
                          Status: final
                          DisplayValue: 123
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sLabDataMap
                          codingKey: '26515-7http://loinc.org'
                          clinicalInputKey: 46759_0_labResults
                          clinicalInputId: '46759'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                        46760_0_labResults:
                          Code: 30313-1
                          CodeSystem: 'http://loinc.org'
                          Name: HGB
                          highlightMatch: false
                          DateTime: '2019-01-25T19:10:00.000Z'
                          Value: 10.2
                          Units: g/dL
                          Status: final
                          DisplayValue: 10.2
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sLabDataMap
                          codingKey: '30313-1http://loinc.org'
                          clinicalInputKey: 46760_0_labResults
                          clinicalInputId: '46760'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                      vitalSigns:
                        100040_0_vitalSigns:
                          Code: 9279-1
                          CodeSystem: 'http://loinc.org'
                          Name: Respiratory rate
                          highlightMatch: true
                          DateTime: '2022-06-16T22:38:27.425Z'
                          Value: 60
                          Units: /min
                          Status: final
                          DisplayValue: 60
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sVitalSignsMap
                          codingKey: '9279-1http://loinc.org'
                          clinicalInputKey: 100040_0_vitalSigns
                          clinicalInputId: '100040'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths:
                            - D40F5C2F1BA84A8A-84BB83EC70AA364B-487511B92BB8F421-9F5F9A96250AE8BA
                        100039_0_vitalSigns:
                          Code: 9279-1
                          CodeSystem: 'http://loinc.org'
                          Name: Respiratory rate
                          highlightMatch: true
                          DateTime: '2022-06-16T22:36:47.425Z'
                          Value: 70
                          Units: /min
                          Status: final
                          DisplayValue: 70
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sVitalSignsMap
                          codingKey: '9279-1http://loinc.org'
                          clinicalInputKey: 100039_0_vitalSigns
                          clinicalInputId: '100039'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                          matchingIndicationPaths:
                            - D40F5C2F1BA84A8A-84BB83EC70AA364B-487511B92BB8F421-9F5F9A96250AE8BA
                        66039-comp0_0_vitalSigns:
                          Code: 8480-6
                          CodeSystem: 'http://loinc.org'
                          Name: Systolic blood pressure
                          highlightMatch: false
                          DateTime: '2019-04-15'
                          Value: 100
                          Units: mmHg
                          DisplayValue: 100
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sVitalSignsMap
                          codingKey: '8480-6http://loinc.org'
                          clinicalInputKey: 66039-comp0_0_vitalSigns
                          clinicalInputId: 66039-comp0
                          unitOfMeasureConversion:
                            result: skipped
                        66039-comp1_0_vitalSigns:
                          Code: 8462-4
                          CodeSystem: 'http://loinc.org'
                          Name: Diastolic blood pressure
                          highlightMatch: false
                          DateTime: '2019-04-15'
                          Value: 60
                          Units: mmHg
                          DisplayValue: 60
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sVitalSignsMap
                          codingKey: '8462-4http://loinc.org'
                          clinicalInputKey: 66039-comp1_0_vitalSigns
                          clinicalInputId: 66039-comp1
                          unitOfMeasureConversion:
                            result: skipped
                        66039_comp0_0_vitalSigns:
                          Code: 8480-6
                          CodeSystem: 'http://loinc.org'
                          Name: Systolic blood pressure
                          highlightMatch: false
                          DateTime: '2019-04-15'
                          Value: 100
                          Units: mmHg
                          DisplayValue: 100
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sVitalSignsMap
                          codingKey: '8480-6http://loinc.org'
                          clinicalInputKey: 66039_comp0_0_vitalSigns
                          clinicalInputId: 66039_comp0
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                        66039_comp1_0_vitalSigns:
                          Code: 8462-4
                          CodeSystem: 'http://loinc.org'
                          Name: Diastolic blood pressure
                          highlightMatch: false
                          DateTime: '2019-04-15'
                          Value: 60
                          Units: mmHg
                          DisplayValue: 60
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sVitalSignsMap
                          codingKey: '8462-4http://loinc.org'
                          clinicalInputKey: 66039_comp1_0_vitalSigns
                          clinicalInputId: 66039_comp1
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                        46761_0_vitalSigns:
                          Code: 8302-2
                          CodeSystem: 'http://loinc.org'
                          Name: Height
                          highlightMatch: false
                          DateTime: '2019-03-29T19:10:00.000Z'
                          Value: 177
                          Units: cm
                          Status: final
                          DisplayValue: 177
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sVitalSignsMap
                          codingKey: '8302-2http://loinc.org'
                          clinicalInputKey: 46761_0_vitalSigns
                          clinicalInputId: '46761'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                        46766_0_vitalSigns:
                          Code: 3141-9
                          CodeSystem: 'http://loinc.org'
                          Name: Patient Body Weight - Measured
                          highlightMatch: false
                          DateTime: '2019-03-29T19:10:00.000Z'
                          Value: 86
                          Units: kg
                          Status: final
                          DisplayValue: 86
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sVitalSignsMap
                          codingKey: '3141-9http://loinc.org'
                          clinicalInputKey: 46766_0_vitalSigns
                          clinicalInputId: '46766'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                        46767_0_vitalSigns:
                          Code: 8480-6
                          CodeSystem: 'http://loinc.org'
                          Name: Intravascular Systolic
                          highlightMatch: false
                          DateTime: '2019-03-29T19:10:00.000Z'
                          Value: 132
                          Units: 'mm[Hg]'
                          Status: final
                          DisplayValue: 132
                          ValueType: quantity
                          ReferenceRange:
                            - low: null
                              high: null
                              text: ''
                          sourceMapKey: sVitalSignsMap
                          codingKey: '8480-6http://loinc.org'
                          clinicalInputKey: 46767_0_vitalSigns
                          clinicalInputId: '46767'
                          resourceType: Observation
                          unitOfMeasureConversion:
                            result: skipped
                      diagnosticReports: []
                      clinicalNotes: []
                      medicationAdministrations:
                        8981838_MedicationAdministration:
                          clinicalInputId: '8981838'
                          clinicalInputKey: 8981838_MedicationAdministration
                          orderReference: MedicationOrder/24401893
                          encounterReference: Encounter/4465906
                          text: lisinopril
                          status: stopped
                          wasNotGiven: true
                          codings:
                            - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                              code: '29046'
                              display: Lisinopril
                              userSelected: false
                          value: null
                          unit: null
                          dateTime: '2018-09-24T21:00:00.000Z'
                          sourceMapKey: sMedicationAdministrationsMap
                        8981790_MedicationAdministration:
                          clinicalInputId: '8981790'
                          clinicalInputKey: 8981790_MedicationAdministration
                          orderReference: MedicationOrder/24397961
                          encounterReference: Encounter/4465906
                          text: ''
                          status: completed
                          wasNotGiven: null
                          codings: []
                          value: 100
                          unit: mg
                          dateTime: '2018-09-24T20:47:00.000Z'
                          sourceMapKey: sMedicationAdministrationsMap
                        8695299_MedicationAdministration:
                          clinicalInputId: '8695299'
                          clinicalInputKey: 8695299_MedicationAdministration
                          orderReference: MedicationOrder/22954301
                          encounterReference: Encounter/4251906
                          text: Dextrose 2.5% with 0.45% NaCl
                          status: completed
                          wasNotGiven: null
                          codings:
                            - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                              code: '244095'
                              display: Glucose 25 MG/ML / Sodium Chloride 0.0769 MEQ/ML Injectable Solution
                              userSelected: false
                          value: 100
                          unit: mL
                          dateTime: '2018-08-14T20:56:00.000Z'
                          sourceMapKey: sMedicationAdministrationsMap
                      observationOther: []
                      rawFhirData:
                        - Encounter:
                            resourceType: Encounter
                            id: '66317'
                            meta:
                              versionId: '1'
                              lastUpdated: '2019-04-29T21:37:51.106+00:00'
                              tag:
                                - system: 'https://smarthealthit.org/tags'
                                  code: synapse
                            status: in-progress
                            class: emergency
                            type:
                              - coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '32485007'
                                    display: Hospital admission
                                text: Hospital admission
                            patient:
                              reference: Patient/46717
                            period:
                              start: '2022-06-16T22:38:27.425Z'
                            reason:
                              - coding:
                                  - system: 'http://hl7.org/fhir/sid/icd-10-cm'
                                    code: I50.9
                                    display: 'Heart failure, unspecified'
                            serviceProvider:
                              reference: Organization/2e608ba2-4b89-4769-8508-5654e5eb40f9
                          Patient:
                            resourceType: Patient
                            id: '46717'
                            meta:
                              versionId: '4'
                              lastUpdated: '2019-05-09T23:38:39.845+00:00'
                              tag:
                                - system: 'https://smarthealthit.org/tags'
                                  code: synapse
                            text:
                              status: generated
                              div: '<div xmlns="http://www.w3.org/1999/xhtml"><div class="hapiHeaderText">George <b>HEARTSTONE </b></div><table class="hapiPropertyTable"><tbody><tr><td>Address</td><td><span>123 Real St </span><br/><span>Seattle </span><span>WA </span><span>US </span></td></tr><tr><td>Date of birth</td><td><span>22 February 1961</span></td></tr></tbody></table></div>'
                            name:
                              - family:
                                  - Heartstone
                                given:
                                  - George
                            gender: male
                            birthDate: '1961-02-22T04:00:00.000Z'
                            address:
                              - line:
                                  - 123 Real St
                                city: Seattle
                                state: WA
                                postalCode: '98101'
                                country: US
                          ServiceRequest:
                            - resourceType: ServiceRequest
                              id: physical-therapy
                              text:
                                status: generated
                                div: '<div xmlns="http://www.w3.org/1999/xhtml"><p><b>Generated Narrative with Details</b></p><p><b>id</b>: physical-therapy</p><p><b>status</b>: completed</p><p><b>intent</b>: order</p><p><b>category</b>: Evaluation <span>(Details : {SNOMED CT code ''386053000'' = ''Patient evaluation procedure'', given as ''Evaluation procedure (procedure)''})</span></p><p><b>code</b>: Assessment of passive range of motion <span>(Details : {SNOMED CT code ''710830005'' = ''Assessment of passive range of motion'', given as ''Assessment of passive range of motion (procedure)''})</span></p><p><b>subject</b>: <a>Patient/example</a></p><p><b>occurrence</b>: 27/09/2016</p><p><b>authoredOn</b>: 20/09/2016</p><p><b>requester</b>: Ollie Ortho, MD</p><p><b>performer</b>: Paul Therapist, PT</p><p><b>reasonCode</b>: assessment of mobility limitations due to osteoarthritis <span>(Details )</span></p><p><b>bodySite</b>: Both knees <span>(Details : {SNOMED CT code ''36701003'' = ''Both knees'', given as ''Both knees (body structure)''})</span></p></div>'
                              status: completed
                              intent: order
                              category:
                                - coding:
                                    - system: 'http://snomed.info/sct'
                                      code: '386053000'
                                      display: Evaluation procedure (procedure)
                                  text: Evaluation
                              code:
                                coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '710830005'
                                    display: Assessment of passive range of motion (procedure)
                                text: Assessment of passive range of motion
                              subject:
                                reference: Patient/example
                              occurrenceDateTime: '2016-09-27'
                              authoredOn: '2016-09-20'
                              requester:
                                display: 'Ollie Ortho, MD'
                              performer:
                                - display: 'Paul Therapist, PT'
                              reasonCode:
                                - text: assessment of mobility limitations due to osteoarthritis
                              bodySite:
                                - coding:
                                    - system: 'http://snomed.info/sct'
                                      code: '36701003'
                                      display: Both knees (body structure)
                                  text: Both knees
                          Problem:
                            - resourceType: Condition
                              id: '62880'
                              meta:
                                versionId: '1'
                                lastUpdated: '2020-05-08T17:20:11.097+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: smart-7-2017
                              text:
                                status: generated
                                div: '<div xmlns="http://www.w3.org/1999/xhtml">Silo-fillers'' disease (disorder)</div>'
                              clinicalStatus: active
                              verificationStatus: confirmed
                              category:
                                - coding:
                                    - system: 'http://hl7.org/fhir/observation-category'
                                      code: problem-list-item
                                      display: Problem
                              code:
                                coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '61233003'
                                    display: Silo-fillers' disease (disorder)
                                text: Silo-fillers' disease (disorder)
                              subject:
                                reference: Patient/smart-1272431
                              onsetDateTime: '2022-06-16T22:38:27.425Z'
                            - resourceType: Condition
                              id: '46720'
                              meta:
                                versionId: '5'
                                lastUpdated: '2019-09-03T19:48:50.362+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              patient:
                                reference: Patient/46717
                              code:
                                coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '13645005'
                                    display: Chronic obstructive lung disease
                                text: Chronic obstructive lung disease
                              category:
                                coding:
                                  - code: problem
                              clinicalStatus: active
                              verificationStatus: confirmed
                              onsetDateTime: '2014-07-02'
                            - resourceType: Condition
                              id: '46721'
                              meta:
                                versionId: '4'
                                lastUpdated: '2019-09-03T19:48:29.016+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              patient:
                                reference: Patient/46717
                              code:
                                coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '59621000'
                                    display: Essential hypertension
                                text: Essential hypertension
                              category:
                                coding:
                                  - code: problem
                              clinicalStatus: active
                              verificationStatus: confirmed
                              onsetDateTime: '2014-07-02'
                            - resourceType: Condition
                              id: '46722'
                              meta:
                                versionId: '3'
                                lastUpdated: '2019-09-03T19:49:12.436+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              patient:
                                reference: Patient/46717
                              code:
                                coding:
                                  - system: 'http://hl7.org/fhir/sid/icd-10'
                                    code: I50.20
                                    display: Unspecific systolic (congestive) heart failure
                                text: Essential hypertension
                              category:
                                coding:
                                  - code: problem
                              clinicalStatus: active
                              verificationStatus: confirmed
                              onsetDateTime: '2019-03-18'
                            - resourceType: Condition
                              id: '100046'
                              meta:
                                versionId: '2'
                                lastUpdated: '2020-01-24T22:28:01.886+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              patient:
                                reference: Patient/smart-1186747
                              code:
                                coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '2472002'
                                    display: Anuria (finding)
                                text: Anuria (finding)
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: problem
                                    display: Problem
                              clinicalStatus: active
                              verificationStatus: confirmed
                              onsetDateTime: '2022-06-16T22:36:47.425Z'
                          EncounterDiagnosis:
                            - resourceType: Condition
                              id: '86070'
                              meta:
                                versionId: '1'
                                lastUpdated: '2019-09-03T20:49:11.217+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              patient:
                                reference: Patient/46717
                              encounter:
                                reference: Encounter/66317
                              code:
                                coding:
                                  - system: 'http://hl7.org/fhir/sid/icd-10-cm'
                                    code: I50.9
                                    display: 'Heart failure, unspecified'
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/condition-category'
                                    code: diagnosis
                                    display: Diagnosis
                              clinicalStatus: active
                              verificationStatus: confirmed
                              onsetDateTime: '2019-04-29T04:39:44.000Z'
                            - resourceType: Condition
                              id: '86072'
                              meta:
                                versionId: '1'
                                lastUpdated: '2019-09-03T20:49:11.218+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              patient:
                                reference: Patient/56845
                              encounter:
                                reference: Encounter/56846
                              code:
                                coding:
                                  - system: 2.16.840.1.113883.6.96
                                    code: '59139008'
                                    display: Crushing chest pain
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/condition-category'
                                    code: diagnosis
                                    display: Diagnosis
                              clinicalStatus: active
                              verificationStatus: confirmed
                              onsetDateTime: '2022-06-16T22:38:27.425Z'
                            - resourceType: Condition
                              id: '86071'
                              meta:
                                versionId: '2'
                                lastUpdated: '2019-12-20T18:47:37.365+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              patient:
                                reference: Patient/56845
                              encounter:
                                reference: Encounter/56846
                              code:
                                coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '72654001'
                                    display: Supraventricular arrhythmia (disorder)
                                  - system: 'urn:oid:2.16.840.1.113883.6.90'
                                    code: J18.9
                                    display: Pneumonia
                                  - system: 'http://hl7.org/fhir/sid/icd-10-cm'
                                    code: I47.1
                                    display: Supraventricular tachycardia
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/condition-category'
                                    code: diagnosis
                                    display: Diagnosis
                              clinicalStatus: active
                              verificationStatus: confirmed
                              onsetDateTime: '2022-06-16T22:38:27.425Z'
                          VitalSign:
                            - resourceType: Observation
                              id: '100039'
                              meta:
                                versionId: '4'
                                lastUpdated: '2020-01-24T21:09:08.764+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: vital-signs
                                    display: Vital Signs
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 9279-1
                                    display: Respiratory rate
                              subject:
                                reference: Patient/smart-1186747
                              effectiveDateTime: '2022-06-16T22:36:47.425Z'
                              valueQuantity:
                                value: 70
                                unit: /min
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '100040'
                              meta:
                                versionId: '4'
                                lastUpdated: '2020-01-24T21:09:08.764+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: vital-signs
                                    display: Vital Signs
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 9279-1
                                    display: Respiratory rate
                              subject:
                                reference: Patient/smart-1186747
                              effectiveDateTime: '2022-06-16T22:38:27.425Z'
                              valueQuantity:
                                value: 60
                                unit: /min
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '46761'
                              meta:
                                versionId: '2'
                                lastUpdated: '2020-04-06T21:23:34.003+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: vital-signs
                                    display: Vital Signs
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 8302-2
                                    display: Height
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2019-03-29T19:10:00.000Z'
                              valueQuantity:
                                value: 177
                                unit: cm
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '46766'
                              meta:
                                versionId: '2'
                                lastUpdated: '2020-04-06T21:23:58.085+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: vital-signs
                                    display: Vital Signs
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 3141-9
                                    display: Patient Body Weight - Measured
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2019-03-29T19:10:00.000Z'
                              valueQuantity:
                                value: 86
                                unit: kg
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '46767'
                              meta:
                                versionId: '2'
                                lastUpdated: '2020-04-06T21:24:22.243+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: vital-signs
                                    display: Vital Signs
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 8480-6
                                    display: Intravascular Systolic
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2019-03-29T19:10:00.000Z'
                              valueQuantity:
                                value: 132
                                unit: 'mm[Hg]'
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '66039'
                              meta:
                                versionId: '2'
                                lastUpdated: '2020-04-06T21:22:24.418+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: vital-signs
                                    display: Vital Signs
                                text: Vital Signs
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 55284-4
                                    display: Blood pressure systolic and diastolic
                                text: Blood pressure systolic and diastolic
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2019-04-15'
                              component:
                                - code:
                                    coding:
                                      - system: 'http://loinc.org'
                                        code: 8480-6
                                        display: Systolic blood pressure
                                    text: Systolic blood pressure
                                  valueQuantity:
                                    value: 100
                                    unit: mmHg
                                    system: 'http://unitsofmeasure.org'
                                    code: 'mm[Hg]'
                                  effectiveDateTime: '2019-04-15'
                                  id: 66039_comp0
                                  resourceType: Observation
                                - code:
                                    coding:
                                      - system: 'http://loinc.org'
                                        code: 8462-4
                                        display: Diastolic blood pressure
                                    text: Diastolic blood pressure
                                  valueQuantity:
                                    value: 60
                                    unit: mmHg
                                    system: 'http://unitsofmeasure.org'
                                    code: 'mm[Hg]'
                                  effectiveDateTime: '2019-04-15'
                                  id: 66039_comp1
                                  resourceType: Observation
                            - code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 8480-6
                                    display: Systolic blood pressure
                                text: Systolic blood pressure
                              valueQuantity:
                                value: 100
                                unit: mmHg
                                system: 'http://unitsofmeasure.org'
                                code: 'mm[Hg]'
                              effectiveDateTime: '2019-04-15'
                              id: 66039-comp0
                            - code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 8462-4
                                    display: Diastolic blood pressure
                                text: Diastolic blood pressure
                              valueQuantity:
                                value: 60
                                unit: mmHg
                                system: 'http://unitsofmeasure.org'
                                code: 'mm[Hg]'
                              effectiveDateTime: '2019-04-15'
                              id: 66039-comp1
                            - code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 8480-6
                                    display: Systolic blood pressure
                                text: Systolic blood pressure
                              valueQuantity:
                                value: 100
                                unit: mmHg
                                system: 'http://unitsofmeasure.org'
                                code: 'mm[Hg]'
                              effectiveDateTime: '2019-04-15'
                              id: 66039_comp0
                              resourceType: Observation
                            - code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 8462-4
                                    display: Diastolic blood pressure
                                text: Diastolic blood pressure
                              valueQuantity:
                                value: 60
                                unit: mmHg
                                system: 'http://unitsofmeasure.org'
                                code: 'mm[Hg]'
                              effectiveDateTime: '2019-04-15'
                              id: 66039_comp1
                              resourceType: Observation
                          Laboratory:
                            - resourceType: Observation
                              id: '46756'
                              meta:
                                versionId: '7'
                                lastUpdated: '2020-04-07T23:06:49.630+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: laboratory
                                    display: Laboratory
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: Unknown code
                                    display: Pretending to be a LOINC code
                                  - system: 'http://loinc.org'
                                    code: 2160-0
                                    display: 'Creatinine [Mass/​volume] in Serum or Plasma'
                                  - system: Unknown system
                                    code: Unknown code
                                    display: Some creatinine measurement
                                  - system: 'http://loinc.org'
                                    code: 38483-4
                                    display: 'Creatinine [Mass/volume] in Blood'
                                text: Creatinine in Serum or Plasma
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2022-06-16T22:38:27.425Z'
                              valueQuantity:
                                value: 2.9
                                unit: mg/dL
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '46757'
                              meta:
                                versionId: '1'
                                lastUpdated: '2019-03-20T00:30:06.558+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: laboratory
                                    display: Laboratory
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 2160-0
                                    display: 'Creatinine [Mass/​volume] in Serum or Plasma'
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2022-05-17T22:38:27.425Z'
                              valueQuantity:
                                value: 0.7
                                unit: mg/dL
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '46758'
                              meta:
                                versionId: '1'
                                lastUpdated: '2019-03-20T00:48:07.523+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: laboratory
                                    display: Laboratory
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 33765-9
                                    display: WBC
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2019-01-25T19:10:00.000Z'
                              valueQuantity:
                                value: 12.3
                                unit: 10*3/uL
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '46759'
                              meta:
                                versionId: '1'
                                lastUpdated: '2019-03-20T00:50:13.970+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: laboratory
                                    display: Laboratory
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 26515-7
                                    display: PLT
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2019-01-25T19:10:00.000Z'
                              valueQuantity:
                                value: 123
                                unit: 10*3/uL
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '46760'
                              meta:
                                versionId: '1'
                                lastUpdated: '2019-03-20T00:51:28.695+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: laboratory
                                    display: Laboratory
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 30313-1
                                    display: HGB
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2019-01-25T19:10:00.000Z'
                              valueQuantity:
                                value: 10.2
                                unit: g/dL
                                system: 'http://unitsofmeasure.org'
                            - resourceType: Observation
                              id: '86412'
                              meta:
                                versionId: '2'
                                lastUpdated: '2019-10-07T23:35:35.555+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              status: final
                              category:
                                coding:
                                  - system: 'http://hl7.org/fhir/observation-category'
                                    code: laboratory
                                    display: Laboratory
                              code:
                                coding:
                                  - system: 'http://loinc.org'
                                    code: 2823-3
                                    display: 'Potassium [Moles/​volume] in Serum or Plasma'
                              subject:
                                reference: Patient/46717
                              effectiveDateTime: '2022-06-16T22:36:47.425Z'
                              valueQuantity:
                                value: 5.5
                                unit: mmol/L
                                system: 'http://unitsofmeasure.org'
                          Procedure:
                            - resourceType: Procedure
                              id: '62881'
                              meta:
                                versionId: '1'
                                lastUpdated: '2020-05-08T17:22:20.469+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: pro-7-2017
                              text:
                                status: generated
                                div: '<div xmlns="http://www.w3.org/1999/xhtml">Respiratory assist, manual (procedure)</div>'
                              status: completed
                              code:
                                coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '11140008'
                                    display: 'Respiratory assist, manual (procedure)'
                              subject:
                                reference: Patient/smart-1272431
                              performedDateTime: '2022-06-16T22:38:27.425Z'
                            - resourceType: Procedure
                              id: '46723'
                              meta:
                                versionId: '1'
                                lastUpdated: '2019-03-19T00:41:30.937+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              subject:
                                reference: Patient/46717
                              status: completed
                              code:
                                coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '168731009'
                                    display: Chest X-Ray
                            - resourceType: Procedure
                              id: '46724'
                              meta:
                                versionId: '1'
                                lastUpdated: '2019-03-19T00:49:32.666+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: synapse
                              subject:
                                reference: Patient/46717
                              status: completed
                              code:
                                coding:
                                  - system: 'http://snomed.info/sct'
                                    code: '440461005'
                                    display: Skin ulcer care (regime/therapy)
                              performedDateTime: '2018-11-30'
                          MedicationStatement:
                            - resourceType: MedicationStatement
                              id: '22954301'
                              extension:
                                - url: 'https://fhir-ehr.cerner.com/dstu2/StructureDefinition/medication-statement-category'
                                  valueCodeableConcept:
                                    coding:
                                      - system: 'http://hl7.org/fhir/medication-statement-category'
                                        code: inpatient
                                        display: Inpatient
                                    text: Inpatient
                              patient:
                                reference: Patient/4642007
                                display: 'SMART, CONNIE'
                              informationSource:
                                reference: Practitioner/1798009
                                display: 'Smith, Lisa'
                              dateAsserted: '2017-11-21T16:11:23.000-06:00'
                              status: active
                              wasNotTaken: false
                              effectivePeriod:
                                start: '2017-11-21T14:11:00.000-08:00'
                              supportingInformation:
                                - reference: MedicationOrder/22954301
                              medicationCodeableConcept:
                                coding:
                                  - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                                    code: '244095'
                                    display: Glucose 25 MG/ML / Sodium Chloride 0.0769 MEQ/ML Injectable Solution
                                    userSelected: false
                                text: Dextrose 2.5% with 0.45% NaCl 1000 mL
                              dosage:
                                - text: '125 mL/hr, IV'
                                  _text:
                                    extension:
                                      - url: 'https://fhir-ehr.cerner.com/dstu2/StructureDefinition/patient-friendly-display'
                                        valueString: '125 Milliliter/hour Intravenous. Refills: 0.'
                                  timing:
                                    repeat:
                                      boundsPeriod:
                                        start: '2017-11-21T14:11:00.000-08:00'
                                      duration: 8
                                      durationUnits: h
                                  route:
                                    coding:
                                      - system: 'http://snomed.info/sct'
                                        code: '47625008'
                                        display: Intravenous route (qualifier value)
                                        userSelected: false
                                    text: IV
                                  quantityQuantity:
                                    value: 1000
                                    unit: mL
                                    system: 'http://unitsofmeasure.org'
                                    code: mL
                                  rateRatio:
                                    numerator:
                                      value: 1000
                                      unit: mL
                                      system: 'http://unitsofmeasure.org'
                                      code: mL
                                    denominator:
                                      value: 8
                                      unit: hr
                                      system: 'http://unitsofmeasure.org'
                                      code: h
                            - resourceType: MedicationStatement
                              id: '22961893'
                              contained:
                                - resourceType: Medication
                                  id: '4310151'
                                  code:
                                    text: Sodium Chloride 0.9% 100 mL + Dextrose 5% in Water 25 mL
                                  product:
                                    form:
                                      coding:
                                        - system: 'http://ncimeta.nci.nih.gov'
                                          code: C42986
                                          display: SOLUTION
                                          userSelected: false
                                        - system: 'http://snomed.info/sct'
                                          code: '77899000'
                                          display: Drug solution (product)
                                          userSelected: false
                                      text: Soln
                                    ingredient:
                                      - item:
                                          reference: '#2778918-1'
                                          display: Sodium Chloride 0.9%
                                        amount:
                                          numerator:
                                            value: 100
                                            unit: mL
                                            system: 'http://unitsofmeasure.org'
                                            code: mL
                                          denominator:
                                            value: 125
                                            unit: mL
                                            system: 'http://unitsofmeasure.org'
                                            code: mL
                                      - item:
                                          reference: '#2778758-2'
                                          display: Dextrose 5% in Water
                                        amount:
                                          numerator:
                                            value: 25
                                            unit: mL
                                            system: 'http://unitsofmeasure.org'
                                            code: mL
                                          denominator:
                                            value: 125
                                            unit: mL
                                            system: 'http://unitsofmeasure.org'
                                            code: mL
                                - resourceType: Medication
                                  id: 2778918-1
                                  code:
                                    coding:
                                      - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                                        code: '313002'
                                        display: Sodium Chloride 0.154 MEQ/ML Injectable Solution
                                        userSelected: false
                                    text: Sodium Chloride 0.9%
                                - resourceType: Medication
                                  id: 2778758-2
                                  code:
                                    coding:
                                      - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                                        code: '309778'
                                        display: Glucose 50 MG/ML Injectable Solution
                                        userSelected: false
                                    text: Dextrose 5% in Water
                              extension:
                                - url: 'https://fhir-ehr.cerner.com/dstu2/StructureDefinition/medication-statement-category'
                                  valueCodeableConcept:
                                    coding:
                                      - system: 'http://hl7.org/fhir/medication-statement-category'
                                        code: inpatient
                                        display: Inpatient
                                    text: Inpatient
                              patient:
                                reference: Patient/4642007
                                display: 'SMART, CONNIE'
                              informationSource:
                                reference: Practitioner/1776007
                                display: 'Julius, Scott'
                              dateAsserted: '2017-11-22T10:09:16.000-06:00'
                              status: active
                              wasNotTaken: false
                              effectivePeriod:
                                start: '2017-11-22T09:00:00.000-08:00'
                              note: 'Order Comment: Order coment'
                              supportingInformation:
                                - reference: MedicationOrder/22961893
                              medicationReference:
                                reference: '#4310151'
                                display: Sodium Chloride 0.9% 100 mL + Dextrose 5% in Water 25 mL
                              dosage:
                                - text: '50 mL/hr, IV Piggyback, BID'
                                  _text:
                                    extension:
                                      - url: 'https://fhir-ehr.cerner.com/dstu2/StructureDefinition/patient-friendly-display'
                                        valueString: '50 Milliliter/hour IV Piggyback 2 times a day. Refills: 0.'
                                  timing:
                                    repeat:
                                      boundsPeriod:
                                        start: '2017-11-22T09:00:00.000-08:00'
                                      duration: 2.5
                                      durationUnits: h
                                    code:
                                      coding:
                                        - system: 'http://hl7.org/fhir/v3/GTSAbbreviation'
                                          code: BID
                                          display: BID
                                          userSelected: false
                                      text: BID
                                  route:
                                    coding:
                                      - system: 'http://snomed.info/sct'
                                        code: '47625008'
                                        display: Intravenous route (qualifier value)
                                        userSelected: false
                                    text: IV Piggyback
                                  quantityQuantity:
                                    value: 125
                                    unit: mL
                                    system: 'http://unitsofmeasure.org'
                                    code: mL
                                  rateRatio:
                                    numerator:
                                      value: 125
                                      unit: mL
                                      system: 'http://unitsofmeasure.org'
                                      code: mL
                                    denominator:
                                      value: 2.5
                                      unit: hr
                                      system: 'http://unitsofmeasure.org'
                                      code: h
                          MedicationAdministration:
                            - resourceType: MedicationAdministration
                              id: '8981838'
                              status: stopped
                              patient:
                                reference: Patient/4642007
                                display: 'SMART, CONNIE'
                              practitioner:
                                reference: Practitioner/4474007
                                display: 'Pickering, Kathy'
                              encounter:
                                reference: Encounter/4465906
                              prescription:
                                reference: MedicationOrder/24401893
                              wasNotGiven: true
                              reasonNotGiven:
                                - text: 'Not Done: Not Appropriate at this Time'
                              effectiveTimeDateTime: '2018-09-24T21:00:00.000Z'
                              medicationCodeableConcept:
                                coding:
                                  - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                                    code: '29046'
                                    display: Lisinopril
                                    userSelected: false
                                text: lisinopril
                            - resourceType: MedicationAdministration
                              id: '8981790'
                              contained:
                                - resourceType: Medication
                                  id: '8981790'
                                  product:
                                    ingredient:
                                      - item:
                                          reference: '#8981792-1'
                                          display: Vancomycin
                                        amount:
                                          numerator:
                                            value: 100
                                            unit: mg
                                            system: 'http://unitsofmeasure.org'
                                            code: mg
                                      - item:
                                          reference: '#8981794-2'
                                          display: Glucose 50 MG/ML Injectable Solution
                                        amount:
                                          numerator:
                                            value: 100
                                            unit: mL
                                            system: 'http://unitsofmeasure.org'
                                            code: mL
                                - resourceType: Medication
                                  id: 8981792-1
                                  code:
                                    coding:
                                      - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                                        code: '11124'
                                        display: Vancomycin
                                        userSelected: false
                                    text: vancomycin
                                - resourceType: Medication
                                  id: 8981794-2
                                  code:
                                    coding:
                                      - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                                        code: '309778'
                                        display: Glucose 50 MG/ML Injectable Solution
                                        userSelected: false
                                    text: Dextrose 5% in Water
                              status: completed
                              patient:
                                reference: Patient/4642007
                                display: 'SMART, CONNIE'
                              practitioner:
                                reference: Practitioner/4474007
                                display: 'Pickering, Kathy'
                              encounter:
                                reference: Encounter/4465906
                              prescription:
                                reference: MedicationOrder/24397961
                              wasNotGiven: false
                              effectiveTimeDateTime: '2018-09-24T20:47:00.000Z'
                              medicationReference:
                                reference: '#8981790'
                                display: Vancomycin
                              dosage:
                                route:
                                  coding:
                                    - system: 'http://snomed.info/sct'
                                      code: '47625008'
                                      display: Intravenous route (qualifier value)
                                      userSelected: false
                                  text: IV
                                quantity:
                                  value: 100
                                  unit: mg
                                  system: 'http://unitsofmeasure.org'
                                  code: mg
                                rateRatio:
                                  numerator:
                                    value: 10
                                    unit: mL
                                    system: 'http://unitsofmeasure.org'
                                    code: mL
                                  denominator:
                                    value: 1
                                    unit: h
                                    system: 'http://unitsofmeasure.org'
                                    code: h
                            - resourceType: MedicationAdministration
                              id: '8695299'
                              status: completed
                              patient:
                                reference: Patient/4642007
                                display: 'SMART, CONNIE'
                              practitioner:
                                reference: Practitioner/4474007
                                display: 'Pickering, Kathy'
                              encounter:
                                reference: Encounter/4251906
                              prescription:
                                reference: MedicationOrder/22954301
                              wasNotGiven: false
                              effectiveTimePeriod:
                                start: '2018-08-14T20:56:00.000Z'
                                end: '2018-08-14T20:58:00.000Z'
                              medicationCodeableConcept:
                                coding:
                                  - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                                    code: '244095'
                                    display: Glucose 25 MG/ML / Sodium Chloride 0.0769 MEQ/ML Injectable Solution
                                    userSelected: false
                                text: Dextrose 2.5% with 0.45% NaCl
                              dosage:
                                siteCodeableConcept:
                                  coding:
                                    - system: 'http://snomed.info/sct'
                                      code: '85151006'
                                      display: Structure of left hand (body structure)
                                      userSelected: false
                                  text: Left Hand
                                quantity:
                                  value: 100
                                  unit: mL
                                  system: 'http://unitsofmeasure.org'
                                  code: mL
                                rateRatio:
                                  numerator:
                                    value: 500
                                    unit: mL
                                    system: 'http://unitsofmeasure.org'
                                    code: mL
                                  denominator:
                                    value: 1
                                    unit: h
                                    system: 'http://unitsofmeasure.org'
                                    code: h
                          MedicationRequest:
                            - resourceType: MedicationRequest
                              id: smart-MedicationRequest-101
                              meta:
                                versionId: '1'
                                lastUpdated: '2018-05-15T20:47:20.685+00:00'
                                tag:
                                  - system: 'https://smarthealthit.org/tags'
                                    code: smart-7-2017
                              text:
                                status: generated
                                div: '<div xmlns="http://www.w3.org/1999/xhtml">Nizatidine 15 MG/ML Oral Solution [Axid] (rxnorm: 582620)</div>'
                              status: active
                              intent: order
                              medicationCodeableConcept:
                                coding:
                                  - system: 'http://www.nlm.nih.gov/research/umls/rxnorm'
                                    code: '582620'
                                    display: 'Nizatidine 15 MG/ML Oral Solution [Axid]'
                                text: 'Nizatidine 15 MG/ML Oral Solution [Axid]'
                              subject:
                                reference: Patient/smart-1032702
                              dosageInstruction:
                                - text: 10 mL bid
                                  timing:
                                    repeat:
                                      boundsPeriod:
                                        start: '2008-04-05'
                                      frequency: 2
                                      period: 1
                                      periodUnit: d
                                  doseQuantity:
                                    value: 10
                                    unit: mL
                                    system: 'http://unitsofmeasure.org'
                                    code: mL
                              dispenseRequest:
                                numberOfRepeatsAllowed: 1
                                quantity:
                                  value: 1
                                  unit: mL
                                  system: 'http://unitsofmeasure.org'
                                  code: mL
                                expectedSupplyDuration:
                                  value: 30
                                  unit: days
                                  system: 'http://unitsofmeasure.org'
                                  code: d
                      fhirPatientData:
                        resourceType: Patient
                        id: '46717'
[...]
